<link href='https://unpkg.com/css.gg@2.0.0/icons/css/notifications.css' rel='stylesheet'>
<link href='https://unpkg.com/css.gg@2.0.0/icons/css/search.css' rel='stylesheet'>
<header class="header">
    <div class="top-bar">
        <div class="header__logo">
            <img class="header__logo--image" src="https://fullstack.edu.vn/assets/f8-icon-lV2rGpF0.png"
                alt="header__logo">
            <p class="header__logo--title">
                Học Lập Trình Để Đi Làm
            </p>
        </div>

        <div class="header__search">
            <i class="gg-search"></i>
            <input type="text" name="q" id="input" placeholder="Tìm kiếm khóa học, bài viết, video, ...">
        </div>


        <div class="header__author">
            <i class="gg-notifications"></i>
            <p class="header__author--title">Khoá học của tôi</p>
            <div class="box"></div>
        </div>
    </div>
</header>